:host.ng-invalid.ng-touched .auth-input {
  border-color: var(--invalid);
}

.auth-input {
  color: var(--primary);
  caret-color: var(--primary);
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  padding: .4rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border);
  line-height: 1;
  -webkit-text-fill-color: var(--primary) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.auth-input:focus {
  border: none;
  outline: 1px solid var(--primary);
  outline-offset: 1px;
}
