:host {
  width: 100%;
  max-width: 450px;
  background: var(--bg-blur);
  border-radius: 16px;
  backdrop-filter: blur(40px) saturate(1.4);
  outline: 1px solid oklch(84.56% 0.1026579399612716 348.10311459213074 / 30%);
}

.auth-form {
  margin: auto;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form.loading {
  opacity: .7;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.link {
  font-size: .7rem;
  line-height: .7rem;
}

.link:focus {
  outline: 1px solid var(--primary);
  outline-offset: 1px;
}

.link:visited {
  color: var(--primary);
}

.submit-btn {
  margin-top: 1rem;
  padding: .4rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--bg-secondary);
  background: var(--border);
  border: none;
  border-radius: 4px;
}

.submit-btn:focus {
  outline: 1px solid var(--primary);
  outline-offset: 1px;
}

.hint {
  margin: 0 0 .4rem 0;
  font-size: .7rem;
  line-height: .7rem;
  display: flex;
  justify-content: space-between;
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0;
  bottom: -2rem;
  font-size: .7rem;
  line-height: .7rem;
  text-align: center;
}

@media screen and (max-width: var(--md)) {
  :host {
    max-width: 400px;
  }
}

@media screen and (max-width: var(--sm)) {
  :host {
    max-width: 300px;
  }
}
